*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-size: 14px;
	background:  #f2f2f2;
}
.container
{
	background-color: whitesmoke;
	width:500px;
	padding: 25px;
	margin:80px auto 0;
	border-top: 5px solid whitesmoke;
	box-shadow: 0 0 7px 5px rgba(0, 0, 0,0.5);
}
.container h2
{
	font-size: 22px;
	line-height: 24px;
	padding-bottom: 30px;
	text-align: center;
}
.container input-name
{
	width: 90%;
	position: relative;
	margin: 20px auto;
}
.lock
{
	padding: 8px 11px;

}
.name{
	width: 45%;
	padding:8px 0 8px 40px;
}
.input-name span
{
	 margin-left: 35px;
}
.text-name
{
	width: 100%;
	padding:8px 0 8px 40px;

}
.lolo
{
		padding: 8px;
		}


.prasun
{
	padding: 8px;
}

 .input-name i
 {
 	position: absolute;
 	font-size: 18px;
 	color: black;
 	border-right: 1px solid #cccccc;
 }
 .email
 {
 	padding: 8px;
 }
 .text-name, .name
 {
 	border: 1px solid #cccccc;
 	outline: none;
 	-webkit-transition:all 0.30s ease-in-out;
 }
 .country
 {
 	display: inline-block;
 	width: 100%;
 	height: 35px;
 	padding: 0px 15px;
 	cursor: pointer ;
 	border: 1px solid #cccccc;
 	color:#7b7b7b;
 	border-radius: 0;
 	background-color: white;
 	margin-bottom: 10px;

 }


.check-button
 {
 	display: inline-block;
 	width: 10%;
 	height: 20px;
 	padding: 0px 10px;
 	margin-bottom: 18px;
 }

.button{
	background-color: black;
	color: whitesmoke;
	height: 35px;
	line-height: 35px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 18px;
cursor: pointer;
margin-bottom: 10px;
}

.prasun
{
	background-color: whitesmoke;
		border: none;
	outline: none;
	font-size: 18px;
cursor: pointer;
}

.hey
{ 	width: 10%;
 	height: 30px;
 	text-align:center;
 	background-color: black;
}

.proof
{
	padding: 0px 10px;

}

@media (max-width:480px)
{
	.container
	{
		width: 100%;
		border: 2px solid whitesmoke;
		padding:5px;
	}
	.input-name
	{
		margin-bottom: -10px;

	}
	.input-name{
		width: 100px;
		padding: 8px 0 8px 40px;
		margin-bottom: 10px;
	}
	.input-name span
	{
		padding: 0;
		margin:0 ;
	}
	.form-container
	{
		border: 2px solid;
		width: 100px;
	}
}




